@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is the Player Sign Up program!</h2>
    <p>This can be used for small time events, who want only specific players to participate.</p>
    <p>Can be used in a wide range on sports like: football, cricket, tennis, etc</p>
    <img src="https://exe-coll.ac.uk/wp-content/uploads/2019/05/Exwick-Sports-Pavillion-3G-Pitch-982x500.jpg" alt="3g football pitch" style="width:1000px;height:600px;">
</div>