@page
@model NEW_PROJECT.Pages.Players.CreateModel
@{
}

<h1>:: Create Player Page ::</h1>

<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Player ID</label>
                <input type="text" asp-for="PlayerRec.PlayerID" class="form-control" />
            </div>
            <br />
            <div>
                <label class="control-label">Player Name</label>
                <input type="text" asp-for="PlayerRec.PlayerName" class="form-control" />
            </div>
            <br />
            <div>
                <label class="control-label">Player Level</label>
                <input type="text" asp-for="PlayerRec.PlayerLevel" class="form-control" />
            </div>
            <br />
            <div>
                <label class="control-label">Player Course</label>
                <input type="text" asp-for="PlayerRec.PlayerCourse" class="form-control" />
            </div>
            <br />
            <div>
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>

        </form>
    </div>
</div>