@page
@model NEW_PROJECT.Pages.Players.CreateModel
@{
}

<h1>:: Create Player Page ::</h1>

<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Player ID</label>
                <input type="text" asp-for="PlayerRec.PlayerID" class="form-control" />
            </div>
            <br />
            <div>
                <label class="control-label">Player First Name</label>
                <input type="text" asp-for="PlayerRec.PlayerFirstName" class="form-control" />
            </div>
            <br />
            <div>
                <label class="control-label">Player Surname</label>
                <input type="text" asp-for="PlayerRec.PlayerSurname" class="form-control" />
            </div>
            <br />
            <div>
                <label class="control-label">Player Age</label>
                <input type="text" asp-for="PlayerRec.PlayerAge" class="form-control" />
            </div>
            <br />
            <div>
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>

        </form>
    </div>
</div>