@page
@model NEW_PROJECT.Pages.Players.DeleteModel
@{
}
<h1>:: Delete Player Page ::</h1>

<h2 class="text-danger">Are you sure want to delete the record?</h2>

<div class="table-active">

    <div>
        <label asp-for="PlayerRec.PlayerID"></label>
        <span> : </span>
        @Model.PlayerRec.PlayerID <!--razor code where you access the model from cshtml.cs file-->
    </div>

    <div>
        <label asp-for="PlayerRec.PlayerFirstName"></label>
        <span> : </span>
        @Model.PlayerRec.PlayerFirstName
    </div>

    <div>
        <label asp-for="PlayerRec.PlayerSurname"></label>
        <span> : </span>
        @Model.PlayerRec.PlayerSurname
    </div>

    <div>
        <label asp-for="PlayerRec.PlayerAge"></label>
        <span> : </span>
        @Model.PlayerRec.PlayerAge
    </div>

</div>
<br />
<div>
    <form method="post">
        <input type="hidden" asp-for="PlayerRec.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
