@page
@model NEW_PROJECT.Pages.Players.UpdateModel
@{
}
<h1>:: Update Player Page</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">

            <input type="hidden" asp-for="PlayerRec.Id" />


            <div class="form-group">
                <label asp-for="PlayerRec.PlayerID" class="control-label"></label>
                <input type="text" asp-for="PlayerRec.PlayerID" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="PlayerRec.PlayerName" class="control-label"></label>
                <input type="text" asp-for="PlayerRec.PlayerName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="PlayerRec.PlayerLevel" class="control-label"></label>
                <input type="text" asp-for="PlayerRec.PlayerLevel" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="PlayerRec.PlayerCourse" class="control-label"></label>
                <input type="text" asp-for="PlayerRec.PlayerCourse" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-dark" />
            </div>

        </form>
    </div>
</div>